/* menu show */
@media (max-width: 991px) {
}
/* custom mobile  */
@media (max-width: 767px) {
  .menu-button {
    display: block;
  }
  .show-menu {
    padding: 60px;
    z-index: 9999;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .show-menu li {
    margin: 15px 0;
    background-color: #ffff;
    display: block;
  }
  .show-menu li:hover {
    border-left: solid 2px #333;
  }
  .show-menu .scroll_text {
    color: #333 !important;
  }
}
