:root {
  --primary-color: #32cd32;
  /* --primary-color: #1948a0; */

  --primary-text: #fff;
}
html,
body {
  height: 100%;
}

body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

a {
  text-decoration: none !important;
  outline: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  z-index: -1;
  opacity: 0.7;
}

nav {
  width: 100%;
  height: 80px;
  line-height: 80px;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.nav_fixed {
  top: 0;
  position: fixed;
  background-color: #fff;
  z-index: 9999;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.nav_fixed .logo {
  margin-top: 2%;
}

.nav_fixed .scroll_text {
  color: #666;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: var(--primary-text);
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

nav ul li a:hover::after {
  transform-origin: bottom left;
  transform: scale(1);
}
/* content */
/* .content .container {
  margin-top: 70px;
  text-transform: uppercase;
  color: var(--primary-text);
} */

.content .container h3 {
  padding-left: 60px;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  letter-spacing: 4px;
}
.line::before {
  content: "";
  position: absolute;
  background-color: var(--primary-text);
  height: 1px;
  left: 0%;
  width: 45px;
  top: 50%;
}

/* .content .container h2 {
  margin: 20px 0;
  font-size: 45px;
  font-weight: 700;
} */

.content .container p {
  letter-spacing: 1px;
  font-size: 20px;
}

/* angle */

.header_angle {
  position: absolute;
  width: 100%;
  height: 245px;
  bottom: -2px;
  z-index: 99px;
}
.header_angle_2 {
  position: absolute;
  width: 100%;
  height: 90px;
  bottom: -2px;
  z-index: 99px;
  transform: rotateY(180deg);
}

.parallax_scroll {
  color: #fff;
  background-image: linear-gradient(
    170deg,
    rgba(50, 205, 50, 0.85),
    rgb(50, 205, 50)
  );
  background-size: cover;
}
/* about */
.container_about {
  padding-top: 100px;
  padding-bottom: 50px;
  max-width: 1140px;
  margin: auto;
}

.container_about .about_header {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: -12px;
}

.container_about .about_description {
  font-size: 16px;
  margin-bottom: 40px;
}

.about_item svg {
  fill: #fff;
}

.strengh_header,
.transparent_header,
.simple_header {
  margin: 15px 0;
}

.strength_description,
.transparent_description,
.simple_description {
  font-size: 16px;
  text-align: justify;
  letter-spacing: -1px;
}
/* solution */
.container_solution {
  margin: auto;
  max-width: 1140px;
}
.solution_title {
  margin-bottom: 15px;
}

.solution_header {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: -10px;
}

.solution_description {
  font-size: 25px;
  margin-bottom: 20px;
}

/* image */
.img_item {
  margin-bottom: 20px;
}

.img_item .img {
  /* overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; */
}

.img_title {
  font-weight: 600;
  font-size: 25px;
  margin: 10px 0;
}

.img_item .img img {
  width: 100%;
}

/* feature */
.container_feature {
  padding-top: 100px;
  padding-bottom: 50px;
  max-width: 1140px;
  margin: auto;
}
.feature_header {
}

.feature_title {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: -10px;
}

.feature_description {
  font-size: 25px;
  margin-bottom: 20px;
}

.feature_item img {
  width: 100%;
}

.feature_accordion {
  display: flex;
  align-items: center;
}
.feature_accordion .accordion {
  width: 100%;
}

.accordion-button {
  position: static !important;
  font-weight: 700;
}

/* footer */
footer {
  background-color: rgb(50 205 50 / 85%);
  color: var(--primary-text);
  text-align: center;
}
.footer-container {
  padding: 50px;
  max-width: 1140px;
  margin: auto;
}

.footer-about {
  text-align: left;
}
.footer-contact {
  text-align: left;
}

.footer-about p,
.footer-contact li {
  font-size: 15px;
  line-height: 180%;
}
